# Backend Laravel
/backend/vendor
/backend/.env
/backend/storage/*.key

# Frontend React
/frontend/node_modules
/frontend/dist

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Visual Studio
.vs/

# VS Code
.vscode/



